/* setup */

#tests { clear: both; margin-top: 1em; }



/* examples for border-color */

.border-color-example { margin: 1em; }

#one.border-color-example {
  border: 10px solid #000;
  -moz-border-bottom-colors: blue blue blue blue yellow yellow blue blue blue blue;
  -moz-border-top-colors:    blue blue blue blue yellow yellow blue blue blue blue;
  -moz-border-left-colors:   blue blue blue blue yellow yellow blue blue blue blue;
  -moz-border-right-colors:  blue blue blue blue yellow yellow blue blue blue blue;
  padding: 1em;
}

#two.border-color-example {
  border: 10px solid #000;
  -moz-border-bottom-colors: blue blue blue blue yellow yellow blue blue blue blue;
  -moz-border-top-colors:    blue yellow;
  -moz-border-left-colors:   blue blue blue blue yellow yellow blue blue blue blue;
  -moz-border-right-colors:  blue blue blue blue yellow yellow blue blue blue blue;
  padding: 1em;
}


/* examples for border-radius */

.border-radius-example {
  width: 700px;
  background-color: #EEEEEE;
  padding: 1em;
  margin: 1em;
  border: 1px solid #000000;
}

#one.border-radius-example {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

#two.border-radius-example {
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
}

#three.border-radius-example {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

#four.border-radius-example {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

#five.border-radius-example {
  -webkit-border-radius: 44px;
  -moz-border-radius: 44px;
}

#six.border-radius-example {
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
}

#seven.border-radius-example {
  -webkit-border-radius: -10px;
  -moz-border-radius: -10px;
}

#eight.border-radius-example {
  border: 1px dashed #000000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

#nine.border-radius-example {
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

#ten.border-radius-example {
  -webkit-border-radius: 20px 10px;
  -moz-border-radius: 20px 10px;
}



/* examples for box-shadow */

.box-shadow-example {
  width: 700px;
  background-color: #EEEEEE;
  padding: 1em;
  margin: 1.5em;
  border: 1px solid #000000;
}

#one.box-shadow-example {
  -webkit-box-shadow: -10px -10px 0px #000000;
}

#two.box-shadow-example {
  -webkit-box-shadow: 10px 10px 6px #000000;
}

#three.box-shadow-example {
  -webkit-box-shadow: 20px 18px 15px #AAAAAA;
}

#four.box-shadow-example {
  -webkit-box-shadow: -4px 4px 2px #AAAAAA;
    box-shadow: -4px 4px 2px #AAAAAA;
  -webkit-border-radius: 10px;
}



/* examples for column */

.column-example {
  margin: 1em;
}

#two.column-example {
  -moz-column-width: 10em;
  -webkit-column-width: 10em;
}

#three.column-example {
  -moz-column-width: 10em;
  -webkit-column-width: 10em;
  -moz-column-gap: 2em;
  -webkit-column-gap: 2em;
}

#four.column-example {
  -moz-column-width: 10em;
  -webkit-column-width: 10em;
  -moz-column-gap: 2em;
  -webkit-column-gap: 2em;
  -moz-column-rule: 1px solid red;
  -webkit-column-rule: 1px solid red;
}

/* examples for text-shadow */

.text-shadow-example {
  width: 700px;
  background-color: #EEEEEE;
  padding: 1em;
  margin: 1.5em;
  border: 1px solid #000000;
}

#one.text-shadow-example {
  text-shadow: 5px 5px 5px #000000;
}

#two.text-shadow-example {
  text-shadow: -2px 7px 9px green;
}

#three.text-shadow-example {
  font-family: "Lucida Grande", "Trebuchet MS";
  color: #222222;
	background-color: #BABABA;
  text-shadow: 1px 1px 1px #FFFFFF;
}

#four.text-shadow-example {
  font-family: "Lucida Grande", "Trebuchet MS";
  color: #000000;
	background-color: #000000;
  text-shadow: 0px 0px 7px #FFFFFF;
}



/* examples for resize */

.resize-example {
	width: 200px;
	height: 100px;
	border: 1px solid;
	resize: both;
	overflow: auto;
	margin: 1em;
}

#two.resize-example {
  background-color: #B68DE2;
  border: none;
}

#four.resize-example {
  min-width: 250px;
  max-width: 300px;
}